<app-banner></app-banner>
<!-- SHORTCUT -->
<div class="section services">
  <div class="content-wrap pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="row col-0 no-gutters">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 1 -->
              <div class="rs-feature-box-1 bg-primary">
                <i class="fa fa-camera-retro fa-lg"></i>
                <div class="body">
                  <h4>Artistic Activites</h4>
                  <p>You can find in our club a wide variety of cultural and artistic activities.</p>
                  <div class="spacer-10"></div>
                  <a href="about.html" class="btn">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 2 -->
              <div class="rs-feature-box-1 bg-secondary">
                <i  class="fa fa-heart" aria-hidden="true"></i>
                <div class="body">
                  <h4>Events</h4>
                  <p>You can see the evolution of your children through our various events.</p>
                  <div class="spacer-10"></div>
                  <a href="about.html" class="btn">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 3 -->
              <div class="rs-feature-box-1 bg-tertiary">
                <i class="fa fa-music" aria-hidden="true"></i>
                <div class="body">
                  <h4>Entrain Your Kids</h4>
                  <p>the joy of your children is our priority so join us quickly !</p>
                  <div class="spacer-10"></div>
                  <a href="#" class="btn">LEARN MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- WHY CHOOSE US -->
<div class="section">
  <div class="content-wrap pb-0">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-sm-12 col-md-12 col-lg-7">
          <p class="supheading">Why Choose Us</p>
          <h2 class="section-heading mb-5">
            Best Artistic club
          </h2>
          <p class="">We offer educational programs and cultural and artistic activities for children in the form of clubs, thus contributing to their blooming and development.</p>
          <p class="p-check ">100% education, for your kids, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Dolor sit amet, dolor gravida placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do eiusmod.</p>
          <p class="p-check ">More programs activities, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet.</p>
          <p class="p-check ">More benefit nonummy nibh euismod. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
          <p class="">As part of our new development strategy, we intend to open up more to teaching and education institutions in the regions by launching new clubs, such as civic education clubs, cinema clubs or even painting clubs ...

            If you are interested in our artistic activities or want to have your child join one of our clubs, contact us.</p>
          <div class="spacer-content"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
          <img src="assets/images/teacher_promo.png" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</div>

<!-- WELCOME TO KIDS -->
<div class="section bgi-overlay bgi-cover-center" data-background="images/static_bg.jpg">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <!-- Item 1 -->
        <div class="col-sm-6 col-md-3">
          <div class="rs-funfact bg-primary">
            <div class="box-fun"><h2>120</h2></div>
            <div class="title">Kids</div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="col-sm-6 col-md-3">
          <div class="rs-funfact bg-secondary">
            <div class="box-fun"><h2>36</h2></div>
            <div class="title">Teachers</div>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="col-sm-6 col-md-3">
          <div class="rs-funfact bg-tertiary">
            <div class="box-fun"><h2>23</h2></div>
            <div class="title">Activities</div>
          </div>
        </div>
        <!-- Item 4 -->
        <div class="col-sm-6 col-md-3">
          <div class="rs-funfact bg-quaternary">
            <div class="box-fun"><h2>40</h2></div>
            <div class="title">Events</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- OUR TESTIMONIALS
<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p class="supheading text-center">Our Testimonials</p>
          <h2 class="section-heading text-center mb-5">
            What parents say
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1">
          <div class="text-center text-secondary mb-3"><i class="fa fa-quote-right fa-3x"></i></div>
          <div id="testimonial" class="owl-carousel owl-theme">
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <blockquote>
                    Isabelle enjoyed the Art Club very much. She was always looking forward to it… Many thanks for the great work you are doing with the children!
                  </blockquote>
                  <div class="media">
                    <img src="assets/images/team-img1.jpg" alt="" class="rounded-circle">
                  </div>
                  <p class="quote-name">
                    Bellasfar Ghazi   <span>Parent</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <blockquote>
                    Thank you so much… Carys has loved being part of Art Club and been very proud of the work she has produced
                  </blockquote>
                  <div class="media">
                    <img src="assets/images/team-img2.jpg" alt="" class="rounded-circle">
                  </div>
                  <p class="quote-name">
                    Asma Jlassi <span>Parent</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
 -->
