<!-- CTA -->
<div class="section bg-tertiary">
  <div class="content-wrap py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-12">
          <div class="cta-1">
            <div class="body-text mb-3">
              <h3 class="my-1 text-secondary">Let's join the best artistic club Now !</h3>
              <p class="uk18 mb-0 text-white">Your children's happiness and joy is our first priority</p>
            </div>
            <div class="body-action">
              <a href="contact.html" class="btn btn-primary mt-3">CONTACT US</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER SECTION -->
<div class="footer" data-background="assets/images/bg.jpg">
  <div class="content-wrap">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="footer-item">
            <img src="assets/images/logo.png" alt="logo bottom" class="logo-bottom">
            <div class="spacer-30"></div>
            <p>We invite you to join our club, open to all children wishing to acquire or deepen their artistic sense.</p>
            <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="footer-item">
            <div class="footer-title">
              Contact Info
            </div>
            <ul class="list-info">
              <li>
                <div class="info-icon">
                  <span class="fa fa-map-marker"></span>
                </div>
                <div class="info-text">05, rue Farhat Hacched, Centre Ville, Tunis, Tunisia</div> </li>
              <li>
                <div class="info-icon">
                  <span class="fa fa-phone"></span>
                </div>
                <div class="info-text">(+216) 71 526 110</div>
              </li>
              <li>
                <div class="info-icon">
                  <span class="fa fa-envelope"></span>
                </div>
                <div class="info-text">ArtFactoryTN@gmail.com</div>

              </li>
              <li>
                <div class="info-icon">
                  <span class="fa fa-clock-o"></span>
                </div>
                <div class="info-text">Mon - Sat 09:00 - 17:00</div>
              </li>
            </ul>

          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="footer-item">
            <div class="footer-title">
              Useful Links
            </div>

            <ul class="list">
              <li><a href="about.html" title="About us">About us</a></li>
              <li><a href="teachers.html" title="Our Teachers">Our Teacher</a></li>
              <li><a href="classes.html" title="Our Activities">Our Classes</a></li>
              <li><a href="page-events.html" title="Our Events">Our Events</a></li>
              <li><a href="contact.html" title="Contact Us">Contact Us</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="footer-item">
            <div class="footer-title">
              Get in Touch
            </div>
            <p>Follow us on Social Media</p>
            <div class="sosmed-icon d-inline-flex">
              <a href="https://www.facebook.com/profile.php?id=100070167882943" class="fb"><i class="fa fa-facebook"></i></a>
        
              <a href="https://www.instagram.com/clubartfactory/" class="ig"><i class="fa fa-instagram"></i></a>
 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fcopy">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p class="ftex">Copyright 2021 &copy; <span class="color-primary">Art Factory</span>. Designed by <span class="color-primary">PastaCosi.</span></p>
        </div>
      </div>
    </div>
  </div>

</div>
