<!-- OUR EVENTS -->
<div class="section bgi-cover-center" data-background="assets/images/event-bg.png">
  <div class="content-wrap">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p class="supheading text-center">Our Events</p>
          <h2 class="section-heading text-center mb-5">
            Don't miss our event
          </h2>
        </div>
      </div>

      <div class="row mt-4">

        <!-- Item 1 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src="assets/images/event-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Instrumental Concert</div>
              <div class="meta-date">July 31, 2021 / 08:00 am - 10:00 am</div>
              <p>This is an instrumental music concert written for a piano and violin. it is an instrumental music concert which includes 10 unpublished works.We will take you with us to a, universe full of sensations...</p>
              <div class="text-center">
                <a href="page-events-single.html" class="btn btn-primary">JOIN NOW</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src="assets/images/event-2.jpg" alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Peter Pan Play</div>
              <div class="meta-date">August 10, 2021 / 08:00 am - 10:00 am</div>
              <p>This superb adaptation captures all the magic and charm of everyone’s favorite story.  The Darling children love to hear of Peter Pan’s adventures during his visits through the open window of the nursery....</p>
              <div class="text-center">
                <a href="page-events-single.html" class="btn btn-primary">JOIN NOW</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src="assets/images/event-3.jpg" alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Choir Shows</div>
              <div class="meta-date">March 19, 2016 / 08:00 am - 10:00 am</div>
              <p>Our performance will be a musical ensemble that combines choral singing with choreographed dance, with an overall theme, Our Kids will prensents with their sweet voices...</p>
              <div class="text-center">
                <a href="page-events-single.html" class="btn btn-primary">JOIN NOW</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
